<style>
  .cbg-black {
    background-color: #231F20;
  }

  .cbg-grey {
    background-color: #EDEDED;
  }

  .cbg-grey-dark {
    background-color: #474646;
  }

  .cbg-grey-light {
    background-color: #F4F4F4;
  }

  .cbg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 270px;
    z-index: 0;
  }

  .coverlay {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 5%;
  }

  .cu-under {
    text-underline-position: under;
  }

  .ctext-color-white {
    color: white;
  }

  .ctext-color-blue {
    color: #27387C;
  }
 
  .ctext-color-blue-light {
    color: #0F689C;
  }

  .ctext-color-blue-light2 {
    color: #10689C;
  }
 
  .ctext-color-red {
    color: #ED1C24;
  }

  .cstroke {
    color: #EB3426;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  }

  .cbtn {
    text-align: center;
    background-color: #D13237;
    color: white;
    padding: 2% 3%;
    border-radius: 5%;
    font-weight: bold;
    border: none;
    text-decoration: none;
    display: inline-block;
  }

  .cbtn2 {
    text-align: center;
    background-color: white;
    color: #EB3426;;
    padding: 2% 3%;
    border-radius: 5%;
    font-weight: bold;
    border: none;
    text-decoration: none;
    display: inline-block;
  }

  button {
    transition-duration: 0.4s;
  }

  button:hover {
    cursor: pointer;
  }

  .cbox-shadow {
    box-shadow: 1px 1px 1px 1px #888888;
    background-color: white;
  }

  .cline-section {
    display: flex;
    flex: 1;
    border-top: 2px solid #5c5b5b;
    margin-top: 7%;
  }

  /* min text size */
  .ch1-size {
    font-size: 20px;
  }

  .ch1-size-big {
    font-size: 30px;
  }

  .ch2-size {
    font-size: 15px;
  }

  .cp-size-big {
    font-size: 13px;
  }

  .cp-size-medium {
    font-size: 12px;
  }

  .cp-size-small {
    font-size: 9px;
  }

  @media (min-width: 576px) {
    .ch1-size {
      font-size: 4.5vw;
    }

    .ch1-size-big {
      font-size: 5.5vw;
    }

    .ch2-size {
      font-size: 4vw;
    }

    .cp-size-big {
      font-size: 3vw;
    }

    .cp-size-medium {
      font-size: 2vw;
    }

    .cp-size-small {
      font-size: 1.3vw;
    }
  }
</style>


<div class="container-fluid p-0">
  <img src="./assets/images/img_1.png" class="cbg-image" alt="">
  <div class="coverlay">
    <div class="row d-flex justify-content-center">
      <div class="row">
        <div class="col-2" style="margin-left: 5%;">
          <img src="./assets/images/img_0.png" class="img-fluid" style="min-width: 60px;" alt="">
        </div>
      </div>
      <div class="row" style="padding-left: 5%; padding-right: 5%;">
        <h1 class="ch1-size ctext-color-blue fw-bold text-center">Now You Can Shop At U.S. Stores & 
          Send Your Goods Home From As Low As</h1>
        <h1 class="ch1-size-big cstroke text-center fw-bold p-0 m-0">USD9.99</h1>
        <p class="cp-size-small cstroke text-center mb-4">* terms & conditions apply</p>
      </div>
      <div class="row text-center">
      </div>
      <div class="row text-center">
        <form action="https://www.shop8home.com/signup">
          <button type="submit" class="cbtn cp-size-big">SIGN UP NOW</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid cbg-black">
  <div class="row" style="padding: 5% 5%;">
    <h1 class="ch1-size ctext-color-white text-center" style="padding-bottom: 3%;"><u class="cu-under">Our Mission</u></h1>
    <h2 class="ch2-size ctext-color-white text-center">We make shopping and shipping from the U.S.
      consistently fast and affordable</h2>
  </div>
</div>

<div class="container-fluid p-0">
  <div class="row">
    <div class="col-sm-6 p-0">
      <img src="./assets/images/img_2.png" class="img-fluid" alt="">
    </div>
    <div class="col-sm-6 p-3" style="display: flex; align-items: center;">
      <p class="cp-size-medium">Shop8Home provides a simple and 
        reliable way for you to shop online and 
        ship your purchases internationally. 
        <br>
        <br>
        With a wide logistics network and 
        dedicated warehouses, we are able to 
        provide a complete online account 
        management and deliver a streamlined, 
        efficient, and cost-effective shipping 
        solutions for you.        
      </p>
    </div>
  </div>
</div>

<div class="container-fluid p-0">
  <div class="row p-0" style="z-index: 0;">
    <img src="./assets/images/img_20.png" class="img-fluid p-0" style="min-height: 290px; object-fit: cover;" alt="">
    <div class="row p-0 m-0" style="position: absolute; z-index: 1;">
      <div class="col-4 p-0">
        <div class="row" style="margin-left: 15%; margin-top: 10%;">
          <img src="./assets/images/img_18.png" style="width: 15vw; height: 5vw; min-width: 80px; object-fit: contain;" alt="">
        </div>
        <div class="row align-items-center justify-content-center" style="margin-left: 5%; margin-top: 5%;">
          <img src="./assets/images/img_19.png" style="width: 23vw; height: 40vw; min-width: 100px; object-fit: contain;" alt="">
        </div>
      </div>
      <div class="col-8 align-self-center pt-2">
        <h1 class="ch1-size ctext-color-white">Sign Up & Get FREE</h1>
        <h1 class="ch2-size ctext-color-white fw-bold">250 Boost Coins & RM30 Shipping Voucher</h1>
        <p class="cp-size-medium ctext-color-white">Sign Up for a Shop8Home account and we will reward you with 
          250 Boost Coins & MYR30 international shipping voucher at 
          Shop8Home Partner Wallet. 
          Use this special reward as an instant discount when you use Boost to 
          pay at Shop8Home. </p>
        <div class="row" style="margin-top: 5%;">
          <form action="https://www.shop8home.com/signup">
            <button type="submit" class="cbtn2 cp-size-big">SIGN UP NOW</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid cbg-grey p-4">
  <div class="row" style="padding-top: 3%;">
    <h1 class="ch1-size ctext-color-blue-light fw-bold text-center mb-5">Why Choose Shop8Home</h1>
    <h2 class="ch2-size ctext-color-blue fw-bold">Benefits highlights:</h2>
  </div>
  <div class="row">
    <!--  -->
    <div class="col-6">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_12.1.png" class="img-fluid" style="max-width: 400px;" alt="">
      </div>
      <div class="row">
        <p class="ctext-color-blue cp-size-big fw-bold text-center p-1">Shop at any U.S. retailer 
          without exhaustive search for those that support international shipping</p>
      </div>
    </div>
    <div class="col-6">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_12.2.png" class="img-fluid" style="max-width: 400px;" alt="">
      </div>
      <div class="row">
        <p class="ctext-color-blue cp-size-big fw-bold text-center p-1 mb-0">Save on international shipping 
          fees. You will only be charged according to actual weight.</p>
        <p class="ctext-color-blue cp-size-small p-1">*For package dimension measuring 80 inches/203cm (length + width + height) or less. </p>
      </div>
    </div>
    <div class="col-6">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_12.3.png" class="img-fluid" style="max-width: 400px;" alt="">
      </div>
      <div class="row">
        <p class="ctext-color-blue cp-size-big fw-bold text-center p-1">Pay no duty & tax when
          you ship to your Shop8Home address</p>
      </div>
    </div>
    <!-- <div class="col-6">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_12.4.png" class="img-fluid" style="max-width: 400px;" alt="">
      </div>
      <div class="row">
        <p class="ctext-color-blue cp-size-big fw-bold text-center p-1">Enjoy FREE USD 7 (MYR 30) 
          shipping discount with our international shipping coupon and ship your purchases from
          as low as USD 9.99</p>
      </div>
    </div> -->
    <!--  -->
    <div class="col-6">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_12.png" class="img-fluid" style="max-width: 400px;" alt="">
      </div>
      <div class="row">
        <p class="ctext-color-blue cp-size-big fw-bold text-center p-1">Free parcel processing & repacking</p>
      </div>
    </div>
    <div class="col-6">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_13.png" class="img-fluid" style="max-width: 400px;" alt="">
      </div>
      <div class="row">
        <p class="ctext-color-blue cp-size-big fw-bold text-center p-1">No fuel surcharge</p>
      </div>
    </div>
    <div class="col-6">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_14.png" class="img-fluid" style="max-width: 400px;" alt="">
      </div>
      <div class="row">
        <p class="ctext-color-blue cp-size-big fw-bold text-center p-1">Free parcels consolidation</p>
      </div>
    </div>
    <div class="col-6">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_15.png" class="img-fluid" style="max-width: 400px;" alt="">
      </div>
      <div class="row">
        <p class="ctext-color-blue cp-size-big fw-bold text-center p-1">4 to 7 days shipping</p>
      </div>
    </div>
    <div class="col-6">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_16.png" class="img-fluid" style="max-width: 400px;" alt="">
      </div>
      <div class="row">
        <p class="ctext-color-blue cp-size-big fw-bold text-center p-1">Upfront pricing with 
          <span class="fw-bold ctext-color-red">NO</span> hidden fees</p>
      </div>
    </div>
    <div class="col-6">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_17.png" class="img-fluid" style="max-width: 400px;" alt="">
      </div>
      <div class="row">
        <p class="ctext-color-blue cp-size-big fw-bold text-center">Dedicated customer &
          compliance support </p>
      </div>
    </div>
  </div>
  <div class="row text-center py-4">
    <form action="https://www.shop8home.com/signup">
      <button type="submit" class="cbtn cp-size-big">SIGN UP NOW</button>
    </form>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <h1 class="ch1-size ctext-color-blue fw-bold text-center pt-5 pb-3">Shop From Brands You Love In The United States!</h1>
  </div>
  <div class="row">
    <div class="col-3 cbg-grey-light d-flex" style="align-items: center;">
      <img src="./assets/images/img_21.png" class="img-fluid" style="object-fit: fill;" alt="">
    </div>
    <div class="col-3 d-flex" style="align-items: center;">
      <img src="./assets/images/img_22.png" class="img-fluid" style="object-fit: fill;" alt="">
    </div>
    <div class="col-3 cbg-grey-light d-flex" style="align-items: center;">
      <img src="./assets/images/img_23.png" class="img-fluid" style="object-fit: fill;" alt="">
    </div>
    <div class="col-3 d-flex" style="align-items: center;">
      <img src="./assets/images/img_24.png" class="img-fluid" style="object-fit: fill;" alt="">
    </div>
    <div class="col-3 cbg-grey d-flex" style="align-items: center;">
      <img src="./assets/images/img_25.png" class="img-fluid" style="object-fit: fill;" alt="">
    </div>
    <div class="col-3 cbg-grey-light d-flex" style="align-items: center;">
      <img src="./assets/images/img_26.png" class="img-fluid" style="object-fit: fill;" alt="">
    </div>
    <div class="col-3 cbg-grey d-flex" style="align-items: center;">
      <img src="./assets/images/img_27.png" class="img-fluid" style="object-fit: fill;" alt="">
    </div>
    <div class="col-3 cbg-grey-light d-flex" style="align-items: center;">
      <img src="./assets/images/img_28.png" class="img-fluid" style="object-fit: fill;" alt="">
    </div>
  </div>
</div>

<div class="container-fluid p-4">
  <div class="row pb-3">
    <h1 class="ch1-size ctext-color-blue-light fw-bold text-center pt-4">How It Works</h1>
  </div>
  <div class="row">
    <div class="col-6 col-sm-4">
      <div class="row">
        <img class="img-fluid" style="min-width: 100px;" src="./assets/images/img_4.png" alt="">
      </div>
      <div class="row pt-3">
        <p class="cp-size-medium ctext-color-blue-light2 text-center">1. Sign up and get a U.S. shipping address</p>
      </div>
    </div>
    <div class="col-6 col-sm-4">
      <div class="row">
        <img class="img-fluid" style="min-width: 100px;" src="./assets/images/img_5.png" alt="">
      </div>
      <div class="row pt-3">
        <p class="cp-size-medium ctext-color-blue-light2 text-center">2. Shop U.S. stores and ship to your new U.S. address</p>
      </div>
    </div>
    <div class="col-6 col-sm-4">
      <div class="row">
        <img class="img-fluid" style="min-width: 100px;" src="./assets/images/img_6.png" alt="">
      </div>
      <div class="row pt-3">
        <p class="cp-size-medium ctext-color-blue-light2 text-center">3. Combine packages & save up to 80% on shipping</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid cbg-grey p-4">
  <div class="row">
    <h1 class="ch1-size ctext-color-blue-light fw-bold text-center pt-4">Save Up To 80% On International Shipping</h1>
    <p class="cp-size-medium text-center">Shipping multiple purchases separately will cost you more. Send them to your Shop8Home 
      U.S. address. We can help you repack and consolidate. This process will reduce total weight 
      of your package and save you more.       
    </p>
  </div>
  <div class="row">
    <div class="col-6 col-sm-3">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_7.png" class="img-5" alt="">
      </div>
      <div class="row d-flex justify-content-center cbox-shadow p-1 m-1">
        <div class="row p-0">
          <div class="col-7 p-0"><p class="p-0 m-0 cp-size-small">Weight</p></div>
          <div class="col-5 p-0"><p class="p-0 m-0 cp-size-small">1.0kg</p></div>
        </div>
        <div class="row p-0">
          <div class="col-7 p-0"><p class="p-0 m-0 cp-size-small">Cost to ship</p></div>
          <div class="col-5 p-0"><p class="p-0 m-0 cp-size-small">USD 23.99</p></div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-3">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_8.png" class="img-5" alt="">
      </div>
      <div class="row d-flex justify-content-center cbox-shadow p-1 m-1">
        <div class="row p-0">
          <div class="col-7 p-0"><p class="p-0 m-0 cp-size-small">Weight</p></div>
          <div class="col-5 p-0"><p class="p-0 m-0 cp-size-small">1.0kg</p></div>
        </div>
        <div class="row p-0">
          <div class="col-7 p-0"><p class="p-0 m-0 cp-size-small">Cost to ship</p></div>
          <div class="col-5 p-0"><p class="p-0 m-0 cp-size-small">USD 23.99</p></div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-3">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_9.png" class="img-5" alt="">
      </div>
      <div class="row d-flex justify-content-center cbox-shadow p-1 m-1">
        <div class="row p-0">
          <div class="col-7 p-0"><p class="p-0 m-0 cp-size-small">Weight</p></div>
          <div class="col-5 p-0"><p class="p-0 m-0 cp-size-small">0.5kg</p></div>
        </div>
        <div class="row p-0">
          <div class="col-7 p-0"><p class="p-0 m-0 cp-size-small">Cost to ship</p></div>
          <div class="col-5 p-0"><p class="p-0 m-0 cp-size-small">USD 16.99</p></div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-3">
      <div class="row d-flex justify-content-center">
        <img src="./assets/images/img_10.png" class="img-5" alt="">
      </div>
      <div class="row d-flex justify-content-center cbox-shadow p-1 m-1">
        <div class="row p-0">
          <div class="col-7 p-0"><p class="p-0 m-0 cp-size-small">Weight</p></div>
          <div class="col-5 p-0"><p class="p-0 m-0 cp-size-small">0.5kg</p></div>
        </div>
        <div class="row p-0">
          <div class="col-7 p-0"><p class="p-0 m-0 cp-size-small">Cost to ship</p></div>
          <div class="col-5 p-0"><p class="p-0 m-0 cp-size-small">USD 16.99</p></div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex" style="flex-direction: row; margin-top: 2%; margin-bottom: 2%;">
    <div class="cline-section"></div>
    <h1 class="ch1-size ctext-color-blue-light fw-bold p-1" style="margin-top: 3%;">OR</h1>
    <div class="cline-section"></div>
  </div>
  <div class="row">
    <img src="./assets/images/img_11.png" class="img-fluid" alt="">
  </div>
  <div class="row justify-content-center pb-4">
    <div class="col-6 col-sm-3 cbox-shadow">
      <div class="row pt-1 px-1">
        <div class="col-7 p-0"><p class="p-0 m-0 cp-size-small">Weight</p></div>
        <div class="col-5 p-0"><p class="p-0 m-0 cp-size-small">1.0kg</p></div>
      </div>
      <div class="row pb-1 px-1">
        <div class="col-7 p-0"><p class="p-0 m-0 cp-size-small">Cost to ship</p></div>
        <div class="col-5 p-0"><p class="p-0 m-0 cp-size-small">USD 23.99</p></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-4 cbg-black">
  <div class="row" style="padding-top: 3%;">
    <h1 class="ch1-size ctext-color-white text-center fw-bold" style="padding-bottom: 3%;">Grab FREE Shop8Home
      Membership Now!</h1>
  </div>
  <div class="row text-center" style="padding-bottom: 5%;">
    <form action="https://www.shop8home.com/signup">
      <button type="submit" class="cbtn cp-size-big">SIGN UP NOW</button>
    </form>
  </div>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-MT32PFCVBC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MT32PFCVBC');
</script> -->